<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/mdl/material.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-orange.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/" style="color: white;" id="tt1">
                <span class="mdl-layout-title">{{title}}</span>
                <span class="mdl-tooltip hide" data-mdl-for="tt1">Find another store</span>
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <i class="material-icons hide showSearch" id="tt2" style="padding-right: 10px;">search</i>
                <span class="mdl-tooltip hide" data-mdl-for="tt2">Search by Product</span>
                <div class="mdl-textfield mdl-js-textfield search-field hide-field">
                    <input class="mdl-textfield__input white-border hide" type="text" id="sample1">
                    <label class="mdl-textfield__label white hide" for="sample1">Search By Product</label>
                </div>




                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons hide hideSort" id="tt3">sort</i>
                    <span class="mdl-tooltip hide" data-mdl-for="tt3">Group by Department</span>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Produce Bins</li>
                    <li class="mdl-menu__item">Meat Counter</li>
                    <li class="mdl-menu__item">Fish & Seafood</li>
                    <li class="mdl-menu__item">Bulk Foods</li>
                    <li class="mdl-menu__item">Grocery Aisles</li>
                    <li class="mdl-menu__item">Dairy Case</li>
                    <li class="mdl-menu__item">Frozen Foods</li>
                    <li class="mdl-menu__item">Vitamins & Supplements</li>
                    <li class="mdl-menu__item">Health & Body Care</li>
                </ul>



            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{title}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="https://github.com/zenvercoder/mealPlanner">GitHub Repo</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {{{body}}}
        </div>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">{{title}}</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="https://github.com/zenvercoder/mealPlanner">GitHub Repository</a></li>
            </ul>
        </div>
    </footer>
</div>
<script src="/mdl/material.min.js"></script>
</body>
</html>
