<h2 class="padding">{{h2}}</h2>

<div class="flex-container">
{{#each storesList}}
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <a href="{{this.url}}">
                {{this.name}}
            </a>
            <br>
            Store # {{this.id}}
            {{this.phone}}
            {{this.address}}
        </div>
    </div>
{{/each}}
</div>
